body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:642px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6 {
  position:absolute;
  left:20px;
  top:21px;
  width:224px;
  height:708px;
}
#u6_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:230px;
  height:714px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:713px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:94px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:94px;
}
#u9 {
  position:absolute;
  left:2px;
  top:39px;
  width:220px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:91px;
}
#u10 {
  position:absolute;
  left:0px;
  top:94px;
  width:224px;
  height:91px;
}
#u11 {
  position:absolute;
  left:2px;
  top:38px;
  width:220px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:95px;
}
#u12 {
  position:absolute;
  left:0px;
  top:185px;
  width:224px;
  height:95px;
}
#u13 {
  position:absolute;
  left:2px;
  top:40px;
  width:220px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:103px;
}
#u14 {
  position:absolute;
  left:0px;
  top:280px;
  width:224px;
  height:103px;
}
#u15 {
  position:absolute;
  left:2px;
  top:44px;
  width:220px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:113px;
}
#u16 {
  position:absolute;
  left:0px;
  top:383px;
  width:224px;
  height:113px;
}
#u17 {
  position:absolute;
  left:2px;
  top:48px;
  width:220px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:106px;
}
#u18 {
  position:absolute;
  left:0px;
  top:496px;
  width:224px;
  height:106px;
}
#u19 {
  position:absolute;
  left:2px;
  top:45px;
  width:220px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:106px;
}
#u20 {
  position:absolute;
  left:0px;
  top:602px;
  width:224px;
  height:106px;
}
#u21 {
  position:absolute;
  left:2px;
  top:45px;
  width:220px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:296px;
  top:8px;
  width:346px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  word-wrap:break-word;
}
