body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1014px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u288 {
  position:absolute;
  left:23px;
  top:92px;
  width:996px;
  height:162px;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u290 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u291 {
  position:absolute;
  left:50px;
  top:0px;
  width:92px;
  height:36px;
}
#u292 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u293 {
  position:absolute;
  left:142px;
  top:0px;
  width:112px;
  height:36px;
}
#u294 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u295 {
  position:absolute;
  left:254px;
  top:0px;
  width:95px;
  height:36px;
}
#u296 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u297 {
  position:absolute;
  left:349px;
  top:0px;
  width:67px;
  height:36px;
}
#u298 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u299 {
  position:absolute;
  left:416px;
  top:0px;
  width:78px;
  height:36px;
}
#u300 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u301 {
  position:absolute;
  left:494px;
  top:0px;
  width:83px;
  height:36px;
}
#u302 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u303 {
  position:absolute;
  left:577px;
  top:0px;
  width:83px;
  height:36px;
}
#u304 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u305 {
  position:absolute;
  left:660px;
  top:0px;
  width:83px;
  height:36px;
}
#u306 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u307 {
  position:absolute;
  left:743px;
  top:0px;
  width:83px;
  height:36px;
}
#u308 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u309 {
  position:absolute;
  left:826px;
  top:0px;
  width:83px;
  height:36px;
}
#u310 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u311 {
  position:absolute;
  left:909px;
  top:0px;
  width:82px;
  height:36px;
}
#u312 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u313 {
  position:absolute;
  left:0px;
  top:36px;
  width:50px;
  height:30px;
}
#u314 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u315 {
  position:absolute;
  left:50px;
  top:36px;
  width:92px;
  height:30px;
}
#u316 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u317 {
  position:absolute;
  left:142px;
  top:36px;
  width:112px;
  height:30px;
}
#u318 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u319 {
  position:absolute;
  left:254px;
  top:36px;
  width:95px;
  height:30px;
}
#u320 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u321 {
  position:absolute;
  left:349px;
  top:36px;
  width:67px;
  height:30px;
  text-decoration:underline;
  color:#FF0000;
}
#u322 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u323 {
  position:absolute;
  left:416px;
  top:36px;
  width:78px;
  height:30px;
  text-decoration:underline;
  color:#FF0000;
}
#u324 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u325 {
  position:absolute;
  left:494px;
  top:36px;
  width:83px;
  height:30px;
  text-decoration:underline;
  color:#FF0000;
}
#u326 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u327 {
  position:absolute;
  left:577px;
  top:36px;
  width:83px;
  height:30px;
  text-decoration:underline;
  color:#FF0000;
}
#u328 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u329 {
  position:absolute;
  left:660px;
  top:36px;
  width:83px;
  height:30px;
  text-decoration:underline;
  color:#FF0000;
}
#u330 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u331 {
  position:absolute;
  left:743px;
  top:36px;
  width:83px;
  height:30px;
  text-decoration:underline;
  color:#FF0000;
}
#u332 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u333 {
  position:absolute;
  left:826px;
  top:36px;
  width:83px;
  height:30px;
  text-decoration:underline;
  color:#FF0000;
}
#u334 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u335 {
  position:absolute;
  left:909px;
  top:36px;
  width:82px;
  height:30px;
  text-decoration:underline;
  color:#FF0000;
}
#u336 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u337 {
  position:absolute;
  left:0px;
  top:66px;
  width:50px;
  height:30px;
}
#u338 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u339 {
  position:absolute;
  left:50px;
  top:66px;
  width:92px;
  height:30px;
}
#u340 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u341 {
  position:absolute;
  left:142px;
  top:66px;
  width:112px;
  height:30px;
}
#u342 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u343 {
  position:absolute;
  left:254px;
  top:66px;
  width:95px;
  height:30px;
}
#u344 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u345 {
  position:absolute;
  left:349px;
  top:66px;
  width:67px;
  height:30px;
  text-decoration:underline;
  color:#0033FF;
}
#u346 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u347 {
  position:absolute;
  left:416px;
  top:66px;
  width:78px;
  height:30px;
  text-decoration:underline;
  color:#0033FF;
}
#u348 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u349 {
  position:absolute;
  left:494px;
  top:66px;
  width:83px;
  height:30px;
  text-decoration:underline;
  color:#0033FF;
}
#u350 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u351 {
  position:absolute;
  left:577px;
  top:66px;
  width:83px;
  height:30px;
  text-decoration:underline;
  color:#0033FF;
}
#u352 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u353 {
  position:absolute;
  left:660px;
  top:66px;
  width:83px;
  height:30px;
  text-decoration:underline;
  color:#0033FF;
}
#u354 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u355 {
  position:absolute;
  left:743px;
  top:66px;
  width:83px;
  height:30px;
  text-decoration:underline;
  color:#0000FF;
}
#u356 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u357 {
  position:absolute;
  left:826px;
  top:66px;
  width:83px;
  height:30px;
  text-decoration:underline;
  color:#0033FF;
}
#u358 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u359 {
  position:absolute;
  left:909px;
  top:66px;
  width:82px;
  height:30px;
  text-decoration:underline;
  color:#0033FF;
}
#u360 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u361 {
  position:absolute;
  left:0px;
  top:96px;
  width:50px;
  height:30px;
}
#u362 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u363 {
  position:absolute;
  left:50px;
  top:96px;
  width:92px;
  height:30px;
}
#u364 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u365 {
  position:absolute;
  left:142px;
  top:96px;
  width:112px;
  height:30px;
}
#u366 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u367 {
  position:absolute;
  left:254px;
  top:96px;
  width:95px;
  height:30px;
}
#u368 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u369 {
  position:absolute;
  left:349px;
  top:96px;
  width:67px;
  height:30px;
  text-decoration:underline;
  color:#0033FF;
}
#u370 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u371 {
  position:absolute;
  left:416px;
  top:96px;
  width:78px;
  height:30px;
  text-decoration:underline;
  color:#FF0000;
}
#u372 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u373 {
  position:absolute;
  left:494px;
  top:96px;
  width:83px;
  height:30px;
  text-decoration:underline;
  color:#FF0000;
}
#u374 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u375 {
  position:absolute;
  left:577px;
  top:96px;
  width:83px;
  height:30px;
  text-decoration:underline;
  color:#FF0000;
}
#u376 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u377 {
  position:absolute;
  left:660px;
  top:96px;
  width:83px;
  height:30px;
  text-decoration:underline;
  color:#FF0000;
}
#u378 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u379 {
  position:absolute;
  left:743px;
  top:96px;
  width:83px;
  height:30px;
  text-decoration:underline;
  color:#FF0000;
}
#u380 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u381 {
  position:absolute;
  left:826px;
  top:96px;
  width:83px;
  height:30px;
  text-decoration:underline;
  color:#FF0000;
}
#u382 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u383 {
  position:absolute;
  left:909px;
  top:96px;
  width:82px;
  height:30px;
  text-decoration:underline;
  color:#FF0000;
}
#u384 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
}
#u385 {
  position:absolute;
  left:0px;
  top:126px;
  width:50px;
  height:31px;
}
#u386 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
}
#u387 {
  position:absolute;
  left:50px;
  top:126px;
  width:92px;
  height:31px;
}
#u388 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
}
#u389 {
  position:absolute;
  left:142px;
  top:126px;
  width:112px;
  height:31px;
}
#u390 {
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u391 {
  position:absolute;
  left:254px;
  top:126px;
  width:95px;
  height:31px;
}
#u392 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
}
#u393 {
  position:absolute;
  left:349px;
  top:126px;
  width:67px;
  height:31px;
  text-decoration:underline;
  color:#FF0000;
}
#u394 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
}
#u395 {
  position:absolute;
  left:416px;
  top:126px;
  width:78px;
  height:31px;
  text-decoration:underline;
  color:#FF0000;
}
#u396 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:31px;
}
#u397 {
  position:absolute;
  left:494px;
  top:126px;
  width:83px;
  height:31px;
  text-decoration:underline;
  color:#FF0000;
}
#u398 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:31px;
}
#u399 {
  position:absolute;
  left:577px;
  top:126px;
  width:83px;
  height:31px;
  text-decoration:underline;
  color:#FF0000;
}
#u400 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:31px;
}
#u401 {
  position:absolute;
  left:660px;
  top:126px;
  width:83px;
  height:31px;
  text-decoration:underline;
  color:#FF0000;
}
#u402 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:31px;
}
#u403 {
  position:absolute;
  left:743px;
  top:126px;
  width:83px;
  height:31px;
  text-decoration:underline;
  color:#FF0000;
}
#u404 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:31px;
}
#u405 {
  position:absolute;
  left:826px;
  top:126px;
  width:83px;
  height:31px;
  text-decoration:underline;
  color:#FF0000;
}
#u406 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u407 {
  position:absolute;
  left:909px;
  top:126px;
  width:82px;
  height:31px;
  text-decoration:underline;
  color:#FF0000;
}
#u408 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u409 {
  position:absolute;
  left:23px;
  top:47px;
  width:128px;
  height:22px;
}
#u409_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u409_input:disabled {
  color:grayText;
}
#u410 {
  position:absolute;
  left:161px;
  top:47px;
  width:128px;
  height:22px;
}
#u410_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u410_input:disabled {
  color:grayText;
}
#u411 {
  position:absolute;
  left:299px;
  top:47px;
  width:128px;
  height:22px;
}
#u411_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u411_input:disabled {
  color:grayText;
}
#u412 {
  position:absolute;
  left:437px;
  top:47px;
  width:128px;
  height:22px;
}
#u412_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u412_input:disabled {
  color:grayText;
}
#u413 {
  position:absolute;
  left:575px;
  top:47px;
  width:128px;
  height:22px;
}
#u413_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u413_input:disabled {
  color:grayText;
}
#u414 {
  position:absolute;
  left:713px;
  top:47px;
  width:128px;
  height:22px;
}
#u414_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u414_input:disabled {
  color:grayText;
}
#u415 {
  position:absolute;
  left:23px;
  top:292px;
  width:140px;
  height:25px;
}
#u415_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:440px;
}
#u416 {
  position:absolute;
  left:23px;
  top:327px;
  width:800px;
  height:440px;
}
#u417 {
  position:absolute;
  left:2px;
  top:212px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
