.box1 thead tr {
	height: 42px;
	line-height: 42px;
}

.box2 thead tr {
	height: 42px;
	line-height: 42px;
}

.personinfo thead tr th {
	color: #ababab;
	border-radius: 4px;
	font-size: 16px;
	padding-left: 15px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.08);
}

.personinfo2 thead tr th {
	padding-left: 40px;
	font-weight: bold;
	color: #545454;
	border-radius: 4px;
	/*    border-bottom: solid 2px #FFA114;*/
	/* background: #2e58b0; */
	font-size: 18px;
}

.homebox2_warp .w1000 .box1 {
	width: 49%;
	position: relative;
	z-index: 1;
	float: left;
}

.personinfo h2 {
	height: 42px;
	line-height: 42px;
	font-weight: bold;
	color: #545454;
	padding-left: 100px;
	/*    border-bottom: solid 2px #FFA114;*/
	/* background: #2e58b0; */
	font-size: 18px;
}

.k {
	margin-top: 20px;
}

.homebox2_warp .w1000 .box2 {
	width: 49%;
	position: relative;
	z-index: 1;
	float: right;
}

.imgsilder_box {
	overflow: hidden;
	margin-top: 25px;
}

.anlistbg {
	background: white;
	border: solid 1px #D8D8D8;
	margin-top: 30px;
	margin-bottom: 30px;
}

.anlistbg2 {
	background: white;
}

.footer {
	background: #2d2d2d;
}

.approve {
	padding: 30px 0px;
	overflow: hidden;
}

.approve li {
	float: left;
	margin-left: 26px;
}

.publishing {
	background: black;
	padding: 15px 0px;
	text-align: center;
}

.publishing b {
	color: white;
	font-style: normal;
	font-weight: normal;
}

.imgsilder_wrap {
	float: left;
}

.imgsilder_wrap ul li {
	float: left;
	margin: 0px 10px;
	height: 225px;
}

.prev,
.next {
	float: left;
	height: 225px;
	line-height: 225px;
}

.imgsilder_wrap ul img,
.imgsilder_wrap ul b {
	display: block;
	text-align: center;
	width: 280px;
}

.imgsilder_wrap ul b {
	background: rgb(243, 243, 243);
	color: #FF950D;
	padding: 10px 0px;
	font-size: 15px;
}

.animal {
	float: left;
}

.register {
	width: 100%;
	margin-top: -20px;
	position: relative;
	margin-bottom: 20px;
	background-color: #FF7A00;
}

.breadcrumb {
	overflow: hidden;
}

.breadcrumb>li {
	display: block;
	float: right;
	margin-top: 15px;
	margin: 15px 0px;
}

.breadcrumb .input1 {
	background-color: #FFFFEC;
	border: solid 1px #D6D6D6;
	width: 100%;
	height: 36px;
	font-size: 0.8vw;
}

.breadcrumb .input3 {
	width: 100%;
	height: 34px;
	line-height: 34px;
	vertical-align: top;
	text-indent: 4px;
	border: solid 1px #FFFFEC;
}

.breadcrumb .input2 {
	background-color: #28b778;
	border: solid 1px #219662;
	width: 100%;
	height: 36px;
	font-size: 0.8vw;
}


/*大轮播区域*/

.fullSlide {
	width: 100%;
	/*	height:240px;*/
	position: relative;
}

.banner {
	overflow: hidden;
}

.banner li {
	float: left;
	/*	 position:absolute;
	 top:0px;
	 left:0px;*/
	display: none;
}

.dotbox {
	position: absolute;
	left: 50%;
	bottom: 30px;
	margin: 0px;
	margin-left: -76px;
}

.dotbox li {
	float: left;
	width: 40px;
	height: 8px;
	background: #ccc;
	color: white;
	margin-right: 10px;
	text-align: center;
	line-height: 22px;
}

.dotbox li.active {
	background: #E4393C;
}

.navright a {
	height: 67px;
	line-height: 67px;
	color: #8A8A8A;
	cursor: pointer;
	float: right;
}

.navright a:hover {
	text-decoration: underline;
	color: #e92100;
}

.news_list {
	height: 236px;
}

.news_list li {
	padding: 0px 20px;
	text-align: right;
}

.personinfo thead tr td {
	color: white;
	border-rAdius: 4PX;
}

.news_list li a {
	float: left;
}

.news_list li a:hover {
	color: #355378;
	cursor: pointer;
}

.body_content2 {
	width: 100%;
	/* margin: 10px auto; */
	overflow: hidden;
	/* margin-bottom: 20px; */
	margin: 0 auto;
	padding: 15px 0px;
	background-color: #F6F9DB;
}

.a_demo_one {
	border-radius: 40px;
	font-size: 22px !important;
	display: block;
	width: 100%;
	text-align: center;
	background-color: #ff6b6b;
	padding: 16px 0px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	border: solid 1px #903131;
	background-image: linear-gradient(bottom, rgb(201, 84, 84) 0%, rgb(255, 107, 107) 100%);
	background-image: -o-linear-gradient(bottom, rgb(201, 84, 84) 0%, rgb(255, 107, 107) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(201, 84, 84) 0%, rgb(255, 107, 107) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(201, 84, 84) 0%, rgb(255, 107, 107) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(201, 84, 84) 0%, rgb(255, 107, 107) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(201, 84, 84)), color-stop(1, rgb(255, 107, 107)));
	-webkit-box-shadow: inset 0px 1px 0px #ff7d7d, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #ff7d7d, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #ff7d7d, 0px 1px 0px #fff;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
}

.a_demo_two {
	border-radius: 12px;
	font-size: 22px !important;
	display: block;
	width: 100%;
	text-align: center;
	background-color: #ffa200;
	padding: 16px 0px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	border: solid 1px #c57e02;
	background-image: linear-gradient(bottom, rgb(224, 143, 2) 0%, rgb(255, 162, 0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(224, 143, 2) 0%, rgb(255, 162, 0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(224, 143, 2) 0%, rgb(255, 162, 0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(224, 143, 2) 0%, rgb(255, 162, 0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(224, 143, 2) 0%, rgb(255, 162, 0) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(224, 143, 2)), color-stop(1, rgb(255, 162, 0)));
	-webkit-box-shadow: inset 0px 1px 0px #fbb234, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #fbb234, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #fbb234, 0px 1px 0px #fff;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 40px;
	border-radius: 12px;
}

.a_demo_one::before {
	border-radius: 40px;
	background-color: #ccd0d5;
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 12px;
	left: -8px;
	top: -8px;
	z-index: -1;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: inset 0px 1px 1px #903131, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 1px #903131, 0px 1px 0px #fff;
	-o-box-shadow: inset 0px 1px 1px #903131, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 1px #903131, 0px 1px 0px #fff;
}

.a_demo_one:active {
	border-radius: 12px;
	top: 1px;
	background-image: linear-gradient(bottom, rgb(255, 107, 107) 0%, rgb(201, 84, 84) 100%);
	background-image: -o-linear-gradient(bottom, rgb(255, 107, 107) 0%, rgb(201, 84, 84) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(255, 107, 107) 0%, rgb(201, 84, 84) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(255, 107, 107) 0%, rgb(201, 84, 84) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(255, 107, 107) 0%, rgb(201, 84, 84) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255, 107, 107)), color-stop(1, rgb(201, 84, 84)));
}

.a_demo_two::before {
	border-radius: 12px;
	background-color: #ccd0d5;
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 12px;
	left: -8px;
	top: -8px;
	z-index: -1;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: inset 0px 1px 1px #fbb234, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 1px #fbb234, 0px 1px 0px #fff;
	-o-box-shadow: inset 0px 1px 1px #fbb234, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 1px #fbb234, 0px 1px 0px #fff;
}

.a_demo_two:active {
	border-radius: 12px;
	/*padding:12px;*/
	top: 1px;
	background-image: linear-gradient(bottom, rgb(255, 162, 0) 0%, rgb(224, 143, 2) 100%);
	background-image: -o-linear-gradient(bottom, rgb(255, 162, 0) 0%, rgb(224, 143, 2) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(255, 162, 0) 0%, rgb(224, 143, 2) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(255, 162, 0) 0%, rgb(224, 143, 2) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(255, 162, 0) 0%, rgb(224, 143, 2) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255, 162, 0)), color-stop(1, rgb(224, 143, 2)));
}

.right_person {
	margin-left: 15px;
	width: 100%;
	margin: 0 auto;
	padding-top: 12px;
	overflow: hidden;
}

.ceyi {
	width: 100%;
}

.left_list {
	float: left;
	width: 64%;
}

.link {
	background-color: #2d5883;
	border: none;
	color: white;
	padding: 4px 10px;
	border-radius: 6px;
}

.right_list {
	float: right;
	width: 35%;
	height: 251px;
}

.get_order_bianhao,
.put_helplist {
	/* border: solid 1px #EEEEEE; */
	border-radius: 6px;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin-bottom: 12px;
}

.get_order_bianhao h3 {
	height: 36px;
	line-height: 36px;
	border-radius: 6px;
	padding-left: 15px;
	background: #ffa200;
	/* border: solid 1px #dee0df; */
}

.put_order_bianhao {
	border-radius: 6px;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin-bottom: 15px;
}

.put_order_bianhao h3 {
	height: 36px;
	line-height: 36px;
	border-radius: 6px;
	padding-left: 15px;
	background: #619bcb;
}

.statu {
	padding: 8px 15px;
}

.get_order_bianhao strong {
	text-align: center;
	display: block;
	border-bottom: solid 2px #639ecc;
	margin: 0px 15px;
	padding-bottom: 2px;
}

.info_receive {
	margin-top: 10px;
	border-bottom: solid 1px #dfe1e0;
	margin-left: 15px;
	margin-right: 15px;
}

.info_receive label {
	height: 22px;
	line-height: 22px;
}

.money_btn {
	margin-left: 15PX;
	padding: 10px 4px;
}

.money_btn span {
	margin: 0 15px;
	font-weight: bold;
}

.money_btn input {
	float: right;
	margin-right: 30px;
	border: none;
	background: #f97805;
	color: white;
	padding: 4px 10px;
	border-radius: 4px;
	font-weight: bold;
}

.put_order_bianhao h3 {
	height: 36px;
	line-height: 36px;
	border-radius: 6px;
	padding-left: 15px;
	background: #ff6b6b;
}

.right_list {
	float: right;
	width: 35%;
	height: 251px;
}

.put_helplist,
.get_helplist {
	height: 258px;
}

.get_order_bianhao,
.put_helplist {
	/* border: solid 1px #EEEEEE; */
	border-radius: 6px;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin-bottom: 12px;
}

.money_btn2 {
	margin-left: 15PX;
	padding: 6px 4px;
}

.put_helplist h3 {
	height: 36px;
	line-height: 36px;
	/* border: solid 1px #dee0df; */
	border-radius: 6px;
	background: #ff6b6b;
	padding-left: 15px;
}

.put_helplist li {
	height: 24px;
	line-height: 24px;
}

.get_order_bianhao li {
	width: 100%;
}

.info_receive label {
	display: block;
	margin-left: 15px;
}

.get_order_bianhao strong {
	text-align: center;
	display: block;
	border-bottom: solid 2px #639ecc;
	margin: 0px 15px;
	padding-bottom: 2px;
}

.put_order_bianhao strong {
	text-align: center;
	display: block;
	border-bottom: solid 2px #639ecc;
	margin: 0px 15px;
	padding-bottom: 2px;
}

.money_btn2 span {
	margin: 0 15px;
	font-weight: bold;
}

.money_btn2 {
	margin-left: 15PX;
	padding: 10px 4px;
}

.money_btn2 input {
	float: right;
	margin-right: 30px;
	border: none;
	background: #619bcb;
	color: white;
	padding: 4px 10px;
	border-radius: 4px;
	font-weight: bold;
}

.put_helplist div {
	padding: 8px 15px;
}

.get_helplist h3 {
	height: 36px;
	line-height: 36px;
	/* border: solid 1px #dee0df; */
	border-radius: 6px;
	background: #ffa200;
	padding-left: 15px;
}

.get_helplist div {
	padding: 8px 15px;
}

.get_helplist {
	border-radius: 6px;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin-bottom: 15px;
}

.rightContent {
	width: 1170PX;
	margin: 0 AUTO;
}

.tabbtn {
	/* border-bottom: solid 2px #e8e8e8; */
	border-bottom: solid 2px #e8e7e7;
	height: 46px;
	background: #f7f7f7;
	padding: 0 10px;
}

.personinfo {
	-webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	MARGIN: 15PX 0PX 15PX;
	min-height: 330px;
	    color: #b1b1b1;
}

.personinfo2 {
	/*	background:white;*/
	min-height: 305px;
}

.box2 {
	/*float:right !important;*/
}

.bannerbox {
	/*	    margin-bottom: 15px;*/
}

.sidebar-menu li {
	/*    background: rgba(121, 184, 238, 0.5);*/
	/* border-bottom: solid 1px #DAA513; */
	/*      border-top: solid 1px #CBD8E3;*/
}

.magin {
	padding-top: 20px;
}

.recent-posts,
.recent-comments,
.recent-users {
	margin: 0;
	padding: 0;
}

.recent-posts li,
.recent-comments li,
.article-post li,
.recent-users li {
	border-bottom: 1px dotted #AEBDC8;
	list-style: none outside none;
	padding: 9px 0px;
	padding-left: 15px;
	padding-right: 15px;
}

.recent-posts li:last-child {
	border-bottom: none !important;
}

.recent-posts li.viewall,
.recent-comments li.viewall,
.recent-users li.viewall {
	padding: 0;
}

.recent-posts li.viewall a,
.recent-comments li.viewall a,
.recent-users li.viewall a {
	padding: 5px;
	text-align: center;
	display: block;
	color: #888888;
}

.recent-posts li.viewall a:hover,
.recent-comments li.viewall a:hover,
.recent-users li.viewall a:hover {
	background-color: #eeeeee;
}

.recent-posts li:last-child,
.recent-comments li:last-child,
.recent-users li:last-child {
	border-bottom: none !important;
}

.user-thumb {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	height: 40px;
	margin-right: 10px;
	margin-top: 5px;
	padding: 2px;
	width: 40px;
}

.user-info {
	color: #666666;
	font-size: 11px;
}

.line {
	background: url("../img/line.png") repeat-x scroll 0 0 transparent;
	/*display: block;*/
	height: 8px;
}

.recent-posts li:last-child {
	border-bottom: none;
}

.ui_table {
	overflow-x: auto;
	width: 100%;
}

.fzinput {
	width: 70%;
}

.money {
	position: fixed;
	bottom: 0;
	opacity: 0.3;
}

.inpu {
	width: 70%;
}

.left1 {
	float: left
}

.left2 {
	float: right
}

@media(max-width:1500px) {
	.inpu {
		width: 50%;
	}
	.left2 {
		float: left
	}
}

@media(max-width:768px) {
	.search {
	   padding: 0 !important;
	}
	select, textarea, input[type="text"], input[type="password"] {
	    margin-bottom: 4px;
	}
	#mempay .control .search .ssubmit {
    margin-left: 20px;
    float: right;
    width: 100%;
}
	#txtTuiGuang {
	width:100% !important
	}
	#fenxian {
	display:none
	}
	ul.sidebar-menu {
	    margin-top: 156px;
		display: none;
	}
	.left1 {
		float: left
	}
	.left2 {
		float: left
	}
	.inpu {
		width: 100%;
	}
	#sidebar {
	    background: #171717;
	}
	.fzinput {
		width: 100%;
	}
	.money {
		display: none
	}
	.fz {
		display: none;
	}
	.prev,
	.next {
		display: none;
	}
	a.logo {
		font-size: 21px;
		color: #2e2e2e;
		float: left;
		text-transform: uppercase;
		height: 65px;
		width: 42%;
		margin-top: 22px;
	}
	a.logo img {
	    width: 100%;
    margin-top: -12px;
	}
	.w1000 {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	    padding-top: 120px;
	}
	.fz {
		width: 100%;
	}
	.clip {
		display: none;
	}
}

@media(max-width:320px) {
	a.logo {
		font-size: 21px;
		color: #2e2e2e;
		float: left;
		text-transform: uppercase;
		width: 40%;
		height: auto;
	}
	a.logo {
		font-size: 21px;
		color: #2e2e2e;
		float: left;
		text-transform: uppercase;
		/* width: 250px; */
		/* background-color: #33485C; */
		height: auto;
		margin-left: 30px;
		margin-top: 20px;
	}
	a.logo img {
		width: 100%;
	}
}